.dark-theme {
    background-color: #282828;
}

.nav {
    color:#999999;
    line-height:30px;
    height:80%;
    width:20%;
    float:left;
}

.section {
    background-color: #2d2d2d;
    color:#999999;
    height:80%;
    width:80%;
    float:left;
}

.bottom {
    background-color:#333333;
    clear:both;
    height:20%;
}

.chat-log {
    height: 90%;
    overflow-y: auto;
}

.chat-text {
    width: 80%;
}

#device-selector {
    background-color: grey;
    height:60%;
    margin-top:5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20%;
    padding: 2.5%;
}

#modalHead {
    height: 10%;

}

#modalHead h2 {
    align-content: center;
    text-align: center;
}

#modalBody {
    height: 80%;
}

#modalFoot {
    height: 10%;
}