<html>
  <head>
    <title>Main Window</title>
    <meta charset="utf-8">
  </head>

  <body class="dark-theme">
    <main-dock class="">
      <div class="nav list-area" id="user-list">
      </div>
      <div class="section chat-area">
          <ul class="tabs" data-tabs id="chat-tabs">
              <li class="tabs-title is-active"><a href="#guild" aria-selected="true">길드</a></li>
              <li class="tabs-title"><a href="#horn">거뿔</a></li>
          </ul>
          <div class="tabs-content" data-tabs-content="chat-tabs">
              <div class="chat-log tabs-panel is-active" id="guild"></div>
              <div class="chat-log tabs-panel" id="horn"></div>
          </div>
      </div>
      <div class="bottom">
        <div class='row'>
          <a class='small button' id='revealButton' href='#'>test<a/>
        </div>
          <div class='row'>
            <div class="top-bar-right">
              <ul class="menu">
                <li><input type="text" id="horn-search-keyword" placeholder="Search"></li>
                <li><button type="button" id="horn-search" class="button">Search</button></li>
              </ul>
            </div>
          </div>
      </div>
      <div id="device-selector" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <h2 id="modalTitle">Awesome. I have it.</h2>
        <p class="lead">Your couch.  It is mine.</p>
        <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      </div>
    </main-dock>
    
  </body>
  <script>
      require('../renderers/index.js');
      var elem = new Foundation.Tabs($('#chat-tabs'));
      
  </script>
</html>