<html>
  <head>
    <title>Main Window</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="../../resources/css/custom.css">
    <script>window.$ = window.jQuery = require('../../resources/foundation/js/vendor/jquery.js');</script>
    <!-- foundation css ans js -->
    <script src="../../resources/foundation/js/vendor/what-input.js"></script>
    <script src="../../resources/foundation/js/vendor/foundation.js"></script>
    <script src="../../resources/foundation/js/app.js"></script>
    <link rel="stylesheet" href="../../resources/foundation/css/foundation.css">
    <link rel="stylesheet" href="../../resources/foundation/css/app.css">
    <!-- /foundation css ans js -->
  </head>

  <body class="dark-theme">
    <main-dock class="">
      <div class="nav list-area" id="user-list">
      </div>
      <div class="section chat-area">
          <ul class="tabs" data-tabs id="chat-tabs">
              <li class="tabs-title is-active"><a href="#guild" aria-selected="true">길드</a></li>
              <li class="tabs-title"><a href="#horn">거뿔</a></li>
          </ul>
          <div class="tabs-content" data-tabs-content="chat-tabs">
              <div class="chat-log tabs-panel is-active" id="guild"></div>
              <div class="chat-log tabs-panel" id="horn"></div>
          </div>
      </div>
      <div class="bottom">
        <div class='row'>
          <a class='small button' id='revealButton' href='#'>test<a/>
          <a class='small button' id='revealButton2' href='#'>네트워크 선택<a/>
        </div>
          <div class='row'>
            <div class="top-bar-right">
              <ul class="menu">
                <li><input type="text" id="horn-search-keyword" placeholder="Search"></li>
                <li><button type="button" id="horn-search" class="button">Search</button></li>
              </ul>
            </div>
          </div>
      </div>
      <div id="device-selector">
        <div id="modalHead">
          <h2 id="modalTitle">네트워크 선택</h2>
        </div>
        <div id="modalBody" style="overflow:auto;">
          <ul id="networklist" class="accordion" data-allow-all-closed="true">
          </ul>
        </div>

        <div id="modalFoot" class="top-bar-right">
          <a class="small button close-reveal-modal" aria-label="Close">닫기</a>
        </div>
      </div>
    </main-dock>
    
  </body>
  <script>
      require('../renderers/index.js');
      var elem = new Foundation.Tabs($('#chat-tabs'));
  </script>
</html>